// Fonts
//@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import "variables";

// Bootstrap
//@import '~bootstrap/scss/bootstrap';
// Fonts
@import "~@fortawesome/fontawesome-free/css/all.css";
// OverlayScrollbars
@import "~overlayscrollbars/css/OverlayScrollbars.css";
// iCheck
@import "~icheck-bootstrap/icheck-bootstrap.css";
// AdminLTE
@import "~admin-lte/build/scss/adminLTE.scss";
@import "~datatables.net-bs4/css/dataTables.bootstrap4.css";

.alert-custome {
  color: $custome-red;
  position: relative;
  padding: 0.25rem 1.25rem 0.25rem 0rem;
}
.card-title {
  color: $white;
}
.card-info:not(.card-outline) > .card-header,
.card-info:not(.card-outline) > .card-header a {
  color: $white;
}

.button-primary {
  color: $white !important;
  background-color: $site-primary-color;
  border-color: $site-primary-color !important;
}
.badge-info {
  color: $white;
}
